.s_list {
	width: 96%;
	border-radius: 5px;
	color: #fff;
	float: left;
	margin-left: 2%;
	    margin-bottom: 40px;
}
.s_list li {
	background: #1B2130;
	padding: 2%;
	float: left;
	padding-bottom: 10%;
	height: 6rem;
	margin-top: 8%;
	border-radius: 6px;
}
.s_list li:first-child {
	margin-top: 4%;
}
.s_list li p{
	line-height: 2rem;
}
.s_list li p span {
	font-size: 1.2rem;
    display: inline-block;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 
.s_list li p i {
	float: right;
	width: 4%;
    margin-top: 3%;
}
.s_list li p i img {
	width: 54%;
	float: right;
}
.s_list li p em {
	float: right;
	
	color: #FF520C;
	font-size: 1rem;
}
.load {
    position: absolute;
    z-index: 9;
    top: 54%;
    right: 45%;
    
}
.c_adress {
	width: 100%;
	float: left;
	line-height: 2.5rem;
}
.c_adress img {
	float: left;
	margin-top: 3%;
    width: 0.8rem;
}
.c_adress span {
	float: left;
	    width: 70%;
	font-size: 0.9rem;
	color: #6E717B;
	margin-left: 2%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.c_adress em{
	float: right;
	color: #6E717B;
	font-size: 0.9rem;
}
.spare {
	float: left;
	width: 100%;
}
.spare span {
	float: left;
	text-align: center;
	width: 33%;
}
.spare span:first-child {
	text-align: left;
}
.spare span:last-child {
	text-align: right;
}
.spare span i{
	font-size: 0.8rem;
}
.spare span img {
	width: 14%;
	    margin-top: 1%;
    margin-right: 4%;
}
.go_cd {
	float: left;
	width: 50%;
	height: 30px;
	line-height: 30px;
	background: #51E7D3;
	border-radius: 13px;
	text-align: center;
	color: #0B1222;
	margin-left: 25%;
	margin-top: 3%;
	font-size: 1rem;
}
.go_cd img {
    width: 6%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
















